
@media(max-width: 48em){
    .locationList{
        max-height: 30vh;
        overflow: auto;
        margin-bottom: 10px;
    }
}

.forecast-title{
    color: aliceblue;
    text-align: center;
    padding: 15px 0;
}